# Python
__pycache__/
*.py[cod]
*.so
*.pyd
*.pyo
*.egg-info/
*.log

# Virtualenv / Poetry / Conda
env/
venv/
.venv/
.env/
*.env
pip-log.txt

# Jupyter (na wypadek testów)
.ipynb_checkpoints

# PyInstaller
dist/
build/
*.spec

# Mac/Linux/Windows system files
.DS_Store
Thumbs.db

# Audio/data files (nagrania, próbki, duże dane)
*.wav
*.mp3
*.flac
*.ogg
*.m4a
*.zip
*.tar.gz
data/
samples/

# Modele ML
*.h5
*.pkl
*.joblib
*.tflite
model/

# Logs, cache
logs/
*.log
.cache/
__pycache__/

# VSCode / PyCharm configs
.vscode/
.idea/

# Optional - test results
*.out
*.tmp
